body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  min-height: 100vh;
  /* El tono exacto de crema que me has proporcionado */
  background-color: #f4c2b4;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}